.search-area {
    display: grid;
    column-gap: 10px;
    grid-template:
        "select bar button ia" 50px
        ". tags . ." auto / minmax(200px, 1fr) minmax(200px, 4fr) 50px 100px;
}

.select-tags-input {
    grid-area: select;
}

.search-bar {
    all: unset;
    grid-area: bar;
    background-color: var(--dark-black);
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    font-size: 1.5rem;
    box-sizing: border-box;
}

.search-button {
    grid-area: button;
    background-color: var(--dark-black);
    padding: 11px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.search-button:hover {
    background-color: var(--green);
}

.search-button svg {
    width: 30px;
    height: 30px;
}

.ai-slider {
    grid-area: ia;
}

.tags-list {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 10px;
}

.filter-tag-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-black);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
}

.filter-tag-delete {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: color-mix(in srgb, var(--dark-black), transparent 10%);
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.filter-tag-item:hover .filter-tag-delete {
    transform: translateY(0);
}

.answer-container {
    display: flex;
    align-items: center;
    background-color: var(--dark-black);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 2em;
    color: var(--white);
    width: fit-content;
    border: 2px solid var(--green);
    margin: 10px auto 0;
}

.answer-container svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: var(--green);
}

.documents-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.document-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-black);
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
}
