.logs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: calc(100vh - var(--header-height) - 10px);
    overflow-y: scroll;
    box-sizing: border-box;
}

.log {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--dark-black);
    width: 80%;
}

.log .level {
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.log .level.ERROR {
    background-color: var(--red);
}

.log .level.WARNING {
    background-color: yellow;
}

.log .level.INFO {
    background-color: blue;
}

.log .level.UNAUTHORIZED {
    background-color: orange;
}

.log .message {
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9em;
}

.log .time {
    padding: 5px;
    border-radius: 5px;
    text-wrap: nowrap;
}
