:root {
    --white: #ffffff;
    --black: #292929;
    --dark-black: #191919;
    --green: #309862;
    --grey: #777777;
    --red: #BD1616;

    /*--ok: rgba(255, 255, 255, 0.65)*/
    --header-height: 50px;
}

:root.light {
    --white: #191919;
    --black: #f6f6f6;
    --dark-black: #e1e1e1;
    --green: #309862;
    --grey: #777777;
    --red: #BD1616;
}

* {
    font-family: Söhne,-apple-system,BlinkMacSystemFont,Helvetica,sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

html {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow: hidden;
}

body {
    background-color: var(--black);
    margin: 0;
    padding: 0;
}
