.colors-picker-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.color-item {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.color-item.selected {
    border: 2px solid #191919FF;
    box-sizing: border-box;
}
